{{define "content"}}
<div class="row members">
	<div class="columns small-12">
		<div class="row">
			<div class="columns small-8 small-offset-2">
				<div class="row">
					<div class="columns small-12">
						<h2>Upcoming Meetups</h2>
					</div>
				</div>
				<div class="row">
					<div class="columns small-12">
						<div class="row">
							<div class="columns small-6">
								<b>California Juicers</b>
							</div>
							<div class="columns small-6">
								<button class="tiny">Register</button>
							</div>
						</div>
						<div class="row">
							<div class="columns small-12">
								<p>June 16 at 7:30PM</p>
								<p>Celebration Inn</p>
								<p>3476 Market St, San Jose, CA</p>
								<br/>
								<p>
									Guest Speaker: <span>Harald Limone, Chairman of the National Citrus Grower's Association</span>
								</p>
							</div>
						</div>
						<div class="row">
							<div class="columns small-8 small-offset-2">
								<hr/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="columns small-12">
						<div class="row">
							<div class="columns small-6">
								<b>Florida Citrus Society</b>
							</div>
							<div class="columns small-6">
								<button class="tiny">Register</button>
							</div>
						</div>
						<div class="row">
							<div class="columns small-12">
								<p>June 19 at 6:00PM</p>
								<p>Vernerable Order of the Orange Lodge</p>
								<p>12756 Highland Blvd, Tallahassee, FL</p>
								<br/>
								<p>
									Guest speaker: <span>Martha Millionson, Chef and Owner of Le Juice</span>
								</p>
							</div>
						</div>
						<div class="row">
							<div class="columns small-8 small-offset-2">
								<hr/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row"></div>
		</div>
	</div>
</div>
{{end}}