{{define "content"}}
<div class="row stand-locator">
	<div class="columns small-12">
		<div class="row">
			<div class="columns small-6 text-right">Zip Code</div>
			<div class="columns small-3">
				<input type="text" name="zipCode" id="zipCode" />
			</div>
			<div class="columns small-3">
				<button class="small" id="search">Find</button>
			</div>
		</div>
		<div class="row">
			<div class="columns small-8 small-offset-2" id="map-canvas"></div>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
			<script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCx_Y1TF4Kg4ELKX6qdCVwcMvndnRTwLZY&callback=initialize"></script>
			<script type="text/javascript">
				function initialize() {
					var mapOptions = {
						center: {
							lat: 37.422,
							lng: -122.084058
						},
						zoom: 14
					};
					var map = new google.maps.Map(document
						.getElementById('map-canvas'), mapOptions);

					document.getElementById("search").addEventListener(
						"click",
						function (e) {
							var xhr = new XMLHttpRequest()
							xhr.addEventListener("load", function () {
								var coords = JSON.parse(xhr.response);
								coords.forEach(function (coord) {
									var marker = new google.maps.Marker({
										position: new google.maps.LatLng(coord.lat, coord.lng),
										title: coord.title
									});

									marker.setMap(map);
								});
							});

							xhr.open("post", "/api/stands")
							var data = {
								zipCode: document.getElementById("zipCode").value
							};
							xhr.send(JSON.stringify(data));
						}, false);
				}
				google.maps.event.addDomListener(window, 'load', initialize);
			</script>
		</div>
	</div>
</div>
{{end}}